asgiref             
channels            
click            
dash            
dash-bootstrap-components             
dash-core-components           
dash-html-components           
dash-table             
Django             
django-cors-headers
django-plotly-dash             
djangorestframework             
dpd-components            
Flask             
itsdangerous             
Jinja2             
MarkupSafe            
mysqlclient           
numpy            
packaging            
pandas             
plotly             
python-dateutil    
pytz             
six             
sqlparse           
tenacity            
typing_extensions   
tzdata            
Werkzeug          
