{% load static %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        margin: 0;
        padding: 0;
    }
    .container {
        max-width: 400px;
        margin: 40px auto;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }
    .helptext{
        display: none !important;
    }

    h1 {
        text-align: center;
        color: #333;
    }

    .form-group {
          justify-content: center;
          align-items: center;
    }

    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 100% !important;
padding: 8px !important;
border: 1px solid #ccc !important;
border-radius: 50px !important;
       
    }

    button[type="submit"] {
        background-color: #4CAF50;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 50px;
        cursor: pointer;
        font-size: 15px;
        margin-top: 240px;
    }

    button[type="submit"]:hover {
        background-color: #45a049;
    }
</style>

  <title>

  </title>
  <meta charset="utf-8" />
  <meta
    name="description"
    content="The most advanced Bootstrap 5 Admin Theme with 40 unique prebuilt layouts on Themeforest trusted by 100,000 beginners and professionals. Multi-demo, Dark Mode, RTL support and complete React, Angular, Vue, Asp.Net Core, Rails, Spring, Blazor, Django, Express.js, Node.js, Flask, Symfony & Laravel versions. Grab your copy now and get life-time updates for free."
  />
  <meta
    name="keywords"
    content="metronic, bootstrap, bootstrap 5, angular, VueJs, React, Asp.Net Core, Rails, Spring, Blazor, Django, Express.js, Node.js, Flask, Symfony & Laravel starter kits, admin themes, web design, figma, web development, free templates, free admin themes, bootstrap theme, bootstrap template, bootstrap dashboard, bootstrap dak mode, bootstrap button, bootstrap datepicker, bootstrap timepicker, fullcalendar, datatables, flaticon"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="article" />
  <meta
    property="og:title"
    content="Metronic - Bootstrap Admin Template, HTML, VueJS, React, Angular. Laravel, Asp.Net Core, Ruby on Rails, Spring Boot, Blazor, Django, Express.js, Node.js, Flask Admin Dashboard Theme & Template"
  />
  <meta property="og:url" content="https://keenthemes.com/metronic" />
  <meta property="og:site_name" content="Keenthemes | Metronic" />
  <link rel="canonical" href="https://preview.keenthemes.com/metronic8" />
  <link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
  <!--begin::Fonts(mandatory for all pages)-->
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700"
  />

  <link 
    href="{% static 'plugins/global/plugins.bundle.js' %}"
    rel="stylesheet"
    type="text/css"
  />
  <link href="{% static 'css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
  <!--end::Global Stylesheets Bundle-->

  <script src="{% static 'css/style.bundle.css' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
  <table class="table table-dark table-striped mt-8">
    <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Team leader name</th>
          <th scope="col">Dse name</th>
          <th scope="col">Home visit %</th>
          <th scope="col">Test Drive %</th>
          <th scope="col">Mspin</th>
          <th scope="col">Ageing</th>
          <th scope="col">Unit name</th>
          <th scope="col">Enquiry total</th>

          
        </tr>
      </thead>
      <tbody>
      
       
          
            <tr>
                <td >{{id}}</td>
                <td >{{team_leader_name}}</td>
                <td >{{dse_name}}</td>
                <td >{{home_visit}}</td>
                <td >{{test_drive}}</td>
                <td >{{mspin}}</td>
                <td >{{ageing}}</td>
                <td >{{unit_name}}</td>
                <td >{{enquiry_total}}</td>
            </tr>
          
      

      </tbody>
  </table>
